/* 
    Created on : 24/12/2016, 09:53:44 AM
    Author     : Aph
*/



/* ************************************************************************** */
/* :::::::::::::::::::::::::::: BACKGROUND IMAGE :::::::::::::::::::::::::::: */
/* ************************************************************************** */
.bckgndImg {
    background-image: url("../img/bckgnd/pinkSky.jpg");

    filter: blur(0px); 
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
}



/* ************************************************************************** */
/* ::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::: */
/* ************************************************************************** */
.mainHeaderContainer {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 50px;
    background: transparent;

    z-index: 10;
}



/* ************************************************************************** */
/* :::::::::::::::::::::::::::::: HEADER IMAGE :::::::::::::::::::::::::::::: */
/* ************************************************************************** */
.headerImg {
    position: absolute;
    top: 5px; left: 20px;
    width: 50px; height: 50px;/**/

    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ico/icoHeader.png");
}



/* ************************************************************************** */
/* :::::::::::::::::::::::::::: LOGIN CONTAINER ::::::::::::::::::::::::::::: */
/* ************************************************************************** */
.loginFormContainer {
    position: absolute;
    top: 50%; left: 50%;
    width: 300px; height: 170px;
    margin-left: -160px; margin-top: -95px;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(142, 68, 173,0.3);
}

.formInput {
    position: relative;
    top: 0px; left: 0px;
    width: 100%; height: 30px;   
}

#googleButton {
    width: 200px;
    margin-left: -100px;
}



/* ************************************************************************** */
/* ::::::::::::::::::::::::: GENERAL BUTTON STYLES :::::::::::::::::::::::::: */
/* ************************************************************************** */
.buttonStyle {
    position: relative;
    left: 50%;
    width: 120px; height: 30px;
    margin-top: 20px; margin-left: -60px;
}
.buttonStyle:hover {
    background-color: #FFF;
    color: #8e44ad;
}
.buttonStyle:focus {
    outline: none;
}



/* ************************************************************************** */
/* :::::::::::::::::::::::::::::::: SIDEBAR ::::::::::::::::::::::::::::::::: */
/* ************************************************************************** */
.sidebarnav {
    display: block;
}