/* 
    Created on : 29/12/2016, 01:48:43 PM
    Author     : Aph
*/


@media screen and (max-width: 880px) {
    /* Mostrar el botón para abrir/cerrar el menú responsivo */
    .sidebarButton {
        display: block;
    }

    #hour {
        font-size: 40px;
    }
    #date {
        font-size: 40px;
    }

    /* Contenedor del contenido principal */
    .mainWelcomeHeader {
        font-size: 50px;
    }


}