/* 
    Created on : 21/01/2017, 09:05:22 AM
    Author     : Aph
*/


@media screen and (max-width: 880px) {
    /* Mostrar el botón para abrir/cerrar el menú responsivo */
    .sidebarButton {
        display: block;
    }

    /* Contenedor del contenido principal */
    .mainWelcomeHeader {
        font-size: 50px;
    }
}